**/*
!.gitignore
!.config
!.config/nvim
!.config/nvim/**/*
!.config/neovide
!.config/neovide/**/*
!.config/neofetch
!.config/neofetch/**/*
!.config/kitty
!.config/kitty/**/*
!.config/hypr
!.config/hypr/**/*
!.config/gtk-3.0
!.config/gtk-3.0/**/*
!.config/waybar
!.config/waybar/**/*
!.config/wired
!.config/wired/**/*
!.config/rofi
!.config/rofi/**/*
!.config/lazygit
!.config/lazygit/**/*
!.zshrc
!README.md
